body{
	border: 20px;
	border: solid;
	border-color: #bdc3c7;
	padding: 20px;
	max-width: 800px;
	width: 80%;
	margin: 20px auto;
	font-family: Source Sans Pro;


}

#header {
            background: url("header.jpeg");
            }